<?xml version="1.0" encoding="UTF-8"?>
<!-- https://www.overops.com/blog/how-to-instantly-improve-your-java-logging-with-7-logback-tweaks/ -->

<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date{ISO8601}] %highlight([%level]) [%logger] [%thread] [%kvp] - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
